@import '_setting.scss';
$appbar-bg-color: #0067a3;
.navbar-board {
  height: $navbar-board-height;
  padding-left: $gap;
  display: flex;
  align-items: center;
  background-color: $board-bg-color;
  font-size: 1.1rem;
}